{
    "singleQuote": true,
    "tabWidth": 4,
    "bracketSpacing": false,
    "bracketSameLine": true,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "printWidth": 120,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "@api",
        "@(assets|components|constants|helpers|pages|providers|store|temp|utils|/)",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
